@model Menulog.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div>Name: @Model.Name</div>
<div>Location: @Model.Location</div>