body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.review {
    padding: 2px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

    .review h4 {
        color: maroon;
        padding: 5px;
        background: #cccc99;
    }

    .review p {
        font-size: .8em;
    }
